---
---
<footer class="bg-zinc-500 text-sm text-white py-4 h-32">
  <div class="max-w-6xl mx-auto text-center">
    <p class="mb-4">
      ©{new Date().getFullYear()} Made with ❤️ by
      <a class="underline" href="https://github.com/alfathmuqoddas">Alfath Muqoddas</a>
    </p>
      <a class="underline" href="https://github.com/alfathmuqoddas/viraindo-webscrapper">Source Code</a>
      <p>
        Data from 
        <a class="underline" href="https://www.viraindo.com">Viraindo</a>
      </p>
      <p>Last build on {import.meta.env.PUBLIC_BUILD_DATE}</p>
  </div>
</footer>