---
---
<footer class="bg-zinc-500 text-center text-sm text-white py-4 h-32">
  <p class="mb-4">
    ©{new Date().getFullYear()} Made with ❤️ by
    <a class="underline" href="https://github.com/alfathmuqoddas">Alfath Muqoddas</a>
  </p>
  <p class="mb-4">
    <a class="underline" href="https://github.com/alfathmuqoddas/viraindo-webscrapper">Source Code</a>
  </p>
  <p class="mb-4">
    Data from 
    <a class="underline" href="https://www.viraindo.com">Viraindo</a>
  </p>
</footer>